.title{
    font-weight: bold;
    font-size: 1.1rem;
}

.homepage{
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    width: 80%;
    max-width: 500px;
    height: 250px;
    border: 1.5px solid rgb(5, 165, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-30%)
}

.form_input{
    display: block;
    width: 80%;
    margin: 1rem;

}

